/*
 * http://pcb.daince.net/doku.php?id=rpi_control_board_v100
 * http://pcb.daince.net/lib/exe/fetch.php?media=rpi_controlboard_v1_0_0:rpicontrolboard_v100_schematic.pdf
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	/* Documentation/devicetree/bindings/leds/leds-gpio.txt */
	fragment@0 {
		target-path = "/";

		__overlay__ {
			rpi_control_board {
				compatible = "gpio-leds";

				/*
					linux,default-trigger = "mmc0";
					linux,default-trigger = "cpu";
				*/

				leds@0 {
					label = "blue";
					gpios = <&gpio 25 0>;
				};

				leds@1 {
					label = "green";
					gpios = <&gpio 24 0>;
				};

				leds@2 {
					label = "red";
					gpios = <&gpio 23 0>;
				};

				leds@3 {
					label = "d1";
					gpios = <&gpio 21 0>;
				};

				leds@4 {
					label = "d2";
					gpios = <&gpio 20 0>;
				};
			};
		};
	};
};
